div#wrapper
{
    border: 2px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 40px 2% 2%;
    z-index: 0;
    min-width: 764px;
    max-width: 2300px;
}

.list-group{
    width: 100%;
    margin-right: 10px;
}

.clientes{
    padding: 10px 15px 0 15px;
}

.agregar{
    width: 100%;
    white-space: nowrap!important;
}

.eliminarmascota{
    background:  #e53935!important;
    border-color: #e53935!important;
    color: white;
}

.eliminarmascota:hover{
    color: white!important;
}